{{> nav}}

<div class="container pt-5">
  <div class="row row-cols-1">

{{!-- log in --}}
    <div class="col d-flex justify-content-center">
      <div class="card border bg-secondary text-white w-25">
        <div class="card-header border-white"><h1 class="m-0 text-center">Login</h1></div>
        <div class="card-body d-flex justify-content-center">
          <form class="form login-form">
            <div class="form-group ">
              <label for="email-login" class="col-md-4 col-form-label formContainer">Email:</label>
              <input class="form-input border-white bg-secondary text-white" type="text" id="email-login" />
            </div>
            <div class="form-group">
              <label for="password-login" class="col-md-4 col-form-label formContainer">Password:</label>
              <input class="form-input border-white bg-secondary text-white" type="password" id="password-login" />
            </div>
            <div class="form-group d-flex justify-content-left mt-4">
              <button class="btn btn-primary" type="submit">Sign In</button>
            </div>
          </form>        
        </div>
      </div>
   

  {{!-- sign up --}}
    <div class="col d-flex justify-content-center"><div id="divider"></div></div>    
    <div class="col d-flex justify-content-center">
      <div class="card w-25 border bg-dark text-white">
        <div class="card-header"><h1 class="m-0 text-center">Sign Up</h1></div>
        <div class="card-body d-flex justify-content-center">
          <form class="form signup-form">
            <div class="form-group">
              <label for="name-signup" class="col-md-4 col-form-label formContainer">Name:</label>
              <input class="form-input border-white bg-secondary text-white" type="text" id="name-signup" />
            </div>
            <div class="form-group">
              <label for="email-signup" class="col-md-4 col-form-label formContainer">Email:</label>
              <input class="form-input border-white bg-secondary text-white" type="text" id="email-signup" />
            </div>
            <div class="form-group">
              <label for="password-signup" class="col-md-4 col-form-label formContainer">Password:</label>
              <input class="form-input border-white bg-secondary text-white" type="password" id="password-signup" />
            </div>
            <div class="form-group d-flex justify-content-left mt-4">
              <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



<script src="/js/login.js"></script>
